<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
@RenderSection("Script", required: true)
    <div>
        @RenderBody()
    </div>

</body>
</html>
